@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo</h1>
    <p>Bem vindo à sua página de gestão de currículos!</p>
    <a class="btn btn-primary" asp-action="Index" asp-controller="DadosPessoais">Currículos</a>
</div>
