@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo</h1>
    <p>Bem vindo à página de currículos!</p>
    <p>Contacte o administrador para adicionar ou editar o seu currículo!</p>
    <a class="btn btn-primary" asp-action="IndexAll" asp-controller="DadosPessoais">Ver Currículos</a>
</div>
