
@{
    ViewData["Title"] = "Dados Pessoais";
}
<section>
    <article>
        <h1>@ViewBag.Title</h1>
        <table>
            <tr>
                <td><b>Nome:</b></td>
                <td>João Pedro Gouveia Nunes</td>
            </tr>
            <tr>
                <td><b>Data de Nascimento:</b></td>
                <td>12 de janeiro de 1994</td>
            </tr>
            <tr>
                <td><b>Naturalidade:</b></td>
                <td>Oliveira do Hospital</td>
            </tr>
            <tr>
                <td><b>Nacionalidade:</b></td>
                <td>Portuguesa</td>
            </tr>
        </table>
    </article>
</section>