
@{ ViewData["Title"] = "Currículo inexistente"; }

<div class="card text-white bg-warning mb-3">
    <div class="card-body">
        <h5 class="card-title">@ViewBag.Title</h5>
        <p class="card-text">O curriculo que selecionou já não existe. Possivelmente alguém o eliminou.</p>

        <div>
            <a class="btn btn-primary" asp-action="Index">
                Voltar aos Curriculos
            </a>
        </div>
    </div>
</div>
